body{
    font-family: 'Josefin slab', serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.img{
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url('./images/img.jpg');
    background-size: cover;
    flex-direction: row-reverse;
}

.img-desc{
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    margin-right: 10px;
}

.img-info, .img-info>a{
    color: black;
}

.img-content{
    color: white;
    height: fit-content;
    width: 50%;
    margin-right: 20%;
    margin-top: 35%;
}

.text{
    color: black;
    font-size: 50px;
    font-weight: bold;

}

.form{
    background-color: rgb(227, 250, 250);
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}

.flex-item {
    width: 100%;
    text-align: center;
    margin: 5px 10px;
}
.first{
    text-align: justify;
    margin-top: 5px;
    padding: 1px;
    margin-bottom: 0;
}

.first>h2{
    margin-top: 0;
}

.second{
    text-align: justify;
    margin-top: 0;
    padding: 1px;
}
.third{
    text-align: justify;
}

span.req{
    color: red;
}


label{
    width: 10%;
}

input{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
}

input:focus{
    border: 2px solid blue;
}

input:valid{
    border: 2px solid green;
}


.input{
    margin: 10px;
}

fieldset{
    margin: 10px;
}

div.label{
    font-weight: 600;
}

.first-col, .pas-col{
    display: flex;
    justify-content: space-between;
}

.first-col>.input>input, .pas-col>.input>input{
    width: 170%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.first-col>.input>input:focus, .pas-col>.input>input:focus{
    border: 2px solid blue;
}

.first-col>.input>input:valid, .pas-col>.input>input:valid{
    border: 2px solid green;
}


.first-col>#lastName, .pas-col>#pasCon{
    margin-right: 200px;
}

button{
    background-color: rgb(0, 150, 136);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 123, 123);
    color: #ffffff;
}

.haveAnAc{
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.logOpt>a{
    text-decoration: none;
    font-weight: 800;
    color: rgb(0, 150, 136);
}

.logOpt>a:hover{
    color: rgb(0, 123, 123);
}

.text {
    overflow: hidden;
    border-right: .13em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


  .errMsg{
    margin-left: 10px;
    color: red;
  }